---
import styles from "./EventList.module.css";
import { Image } from "astro:assets";

interface Props {
  date: string;
  displayDate: string;
  image: ImageMetadata;
  URL: string;
  isLine: boolean;
  head: string;
  description: string;
}

const { date, displayDate, image, URL, isLine, head, description }: Props =
  Astro.props;
---

<tr class={styles.tr}>
  <td class={styles.date}>
    <time datetime={date} class={styles.dateSt}>{displayDate}</time>
  </td>
  <td class={styles.imagetd}>
    <div class={styles.imageDev}>
      <a href={URL} class={styles.imageA}>
        <Image src={image} alt="aaaa" class={styles.image} />
      </a>
    </div>
    {isLine && <span class={styles.verticalLine} />}
  </td>
  <td class={styles.work}>
    <span><strong class={styles.head}>{head}</strong></span>
    <p class={styles.description}>
      {
        description.split("\n").map((line, index) => (
          <Fragment key={index}>
            {line}
            <br />
          </Fragment>
        ))
      }
    </p>
    <slot />
  </td>
</tr>
