---
import styles from "./TimeLine.module.css";
import EventList from "./EventList.astro";
import Unics from "../../../assets/Images/Unics.jpeg";
import DrsPrime from "../../../assets/Images/drprime.png";
import Ielove from "../../../assets/Images/ielove.jpg";
import NS from "../../../assets/Images/NS.jpeg";
import SU from "../../../assets/Images/SU.jpg";
---

<div>
  <h1 class={styles.h1}>Timeline</h1>
  <table>
    <tbody>
      <EventList
        date="2023-12-01"
        displayDate="Dec 2023"
        image={Unics}
        URL="https://www.wantedly.com/companies/company_8514024"
        isLine={true}
        head="Unics"
        description="自動化ツールなどを制作\n現在もUnicsで働いています"
      />
      <EventList
        date="2023-11-01"
        displayDate="Nov 2023"
        image={DrsPrime}
        URL="https://drsprime.com/"
        isLine={true}
        head="Dr's Prime"
        description="1ヶ月のインターン"
      />
      <EventList
        date="2023-9-01"
        displayDate="Sep 2023"
        image={Ielove}
        URL="https://www.ielove-group.jp/"
        isLine={true}
        head="いえらぶGROUP"
        description="3ヶ月の長期インターンを経験\nUIの改善や新機能の開発を行なった"
      />
      <EventList
        date="2023-8-01"
        displayDate="Aug 2023"
        image={NS}
        URL="https://www.nssol.nipponsteel.com/"
        isLine={true}
        head="日鉄ソリューションズ"
        description="二週間のインターンに参加\nサービスのデザインから開発までをReactを用いたアジャイル開発を経験"
      />
      <EventList
        date="2021-4-01"
        displayDate="Apr 2021"
        image={SU}
        URL="https://www.wantedly.com/companies/company_8514024"
        isLine={false}
        head="Unics"
        description="工学部情報工学科に入学\n プログラミングサークルMaximumで活動"
      />
    </tbody>
  </table>
</div>
