---
import styles from "./About.module.css";
import { Image } from "astro:assets";
import umbrella from "../../assets/Images/umbrella.png";
---

<div>
  <div class={styles.aboutH}>
    <h2 class={styles.h}>About kAsA</h2>
    <!-- <img src="/favicon.webp" class={styles.icon} /> -->
    <Image src={umbrella} class={styles.icon} alt="icon" />
  </div>
  <p class={styles.intro}>
    kAsAという名前で活動しています。 <br />埼玉大学大学院 理工学研究科 数理電子情報専攻 情報工学プログラムに所属しております。福島県出身の埼玉住みです。
    プログラミングはちょこちょこやっています。研究室でサーバ管理をするインフラ担当になってから、インフラに興味を持ち始めました。<br />
    プログラミングは競技プログラミングから入りました。Atcoderのレートは最高1150で、緑コーダーになります。Webは大学2年生の2月頃から始め、大学3年生の8月からインターンを経験させてもらっています。全然強くないですが、頑張ります。
  </p>
</div>
