---
import Layout from "./Layout.astro";
import style from "./MarkdownPostLayout.module.css";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class={style.main}>
    <h1>{frontmatter.title}</h1>
    <p>投稿日: {frontmatter.date.toString().slice(0, 10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <div class={style.tags}>
      <p>タグ:</p>
      {
        frontmatter.tags.map((tag: string) => (
          <p class={style.tag}>
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>
    <slot />
  </div>
</Layout>
